<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <!-- 实体重命名 -->
  <typeAliases>
    <package name="com.xyu.module.sys.user.bean"/>
  </typeAliases>


  <!-- 映射map -->
  <mappers>
    <package name="com.xyu.module.sys.user.dao"></package>
  </mappers>

</configuration>